<ul class="nav nav-tabs">
	<li {% if active == 'general' %}class="active"{% endif %}>
		<a href="{{ url('ns_admin_bundle', { adminBundle: 'NSCmsBundle', adminController: 'blocks', adminAction: 'general' }) }}?blockId={{ blockId }}&redirect={{ redirect }}">
			<i class="icon-cog"></i>
			Общие
		</a>
	</li>
	<li {% if active == 'settings' %}class="active"{% endif %}>
		<a href="{{ url('ns_admin_bundle', { adminBundle: 'NSCmsBundle', adminController: 'blocks', adminAction: 'settings' }) }}?blockId={{ blockId }}&redirect={{ redirect }}">
			<i class="icon-wrench"></i>
			Настройки
		</a>
	</li>
</ul>