{% extends 'NSAdminBundle::layout.html.twig' %}

{% block content %}
	<h3>Редактирование блока</h3>

	{% include 'NSCmsBundle:AdminBlocks:_tabs.html.twig' with {active: 'general', blockId: block.id, redirect: redirect} %}

	<form method="post" {{ form_enctype(form) }} autocomplete="off">
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<button class="btn btn-success">Сохранить</button>
		<a href="{{ redirect }}" class="btn">Отмена</a>
	</form>

    <script type="text/javascript">
        (function($){
            var templates = ['{{ templates|join("', '")|raw }}'];
            $('#ns_cmsbundle_blocktype_template').autocomplete({
                source: templates
            });
        })(jQuery);
    </script>
{% endblock %}
